body{
    position: absolute;
}

.menu-list{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.header{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: center; 

}
.menu-list li{
list-style: none;

}

.menu-list li:hover{
    background-color:rgb(255, 89, 23);
    padding: 10px;
    border-radius: 50px;
    cursor:pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    transform: scale(1.1);
}

.header div{
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items: center; 
}

.icons{
   margin-left: 700px;
   gap: 20px;
}
.icon{
    background-color:rgb(255, 89, 23);;
    border-radius: 50%;
    padding: 10px;
}

.text-p{
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 10px;
 border-radius: 10px;
 background-color:rgb(255, 89, 23);
}


.cart-dropdown {
    position: absolute;
    right: 20px; 
    top: 70px; 
    width: 320px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.699);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    padding: 10px;
    padding: 20px;
  }
  
  .cart-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  
  .item-img{
    width: 100px;
  }

  .item-info{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .remove-btn{
    width: 80px;
    height: 30px;
    background-color:rgb(255, 89, 23);
    border: none;
    border-radius: 20px;
  }
  .cart-summary{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 2px;
  }
  .total-section{
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
    margin-right: 5px;
  }
  .checkout-btn{
    background-color:rgb(255, 89, 23);
    border: none;
    border-radius: 20px;
    width: 80px;
    height: 30px;
    margin-left: 5px;
  }

  .close-btn{
    background-color:rgb(255, 89, 23);
    border: none;
    border-radius:50%;
    width: 40px;
    height: 40px;
    /* padding: 10px; */
  }

  .empty-cart{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cart-icon{
    background-color:rgb(255, 89, 23);
    border: none;
    padding: 10px;
    border-radius: 10px;
  }